{% extends 'base.html' %}

{% block title %}
Create
{% endblock title %}

{% block content %}
<header>

</header>
<main>
    <div>
        <h1 class = 'buttons'>Create Category</h1>
        <form class='forms' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
