{% extends 'base.html'%}
{% load static %}
{% block content %}
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for item in expense %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.accounts.all|length}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
