{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<header>

</header>
<main>
    <div>
        <h1 class = 'buttons'>Login</h1>
        <form class='forms' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
          </form>
    </div>
</main>
{% endblock content %}
